/frontend/.dart_tool

/frontend/build

/frontend/test

/frontend/.idea

/frontend/android/local.properties
/frontend/android/app/src/main/java

/frontend/ios/Flutter/ephemeral
/frontend/ios/Flutter/flutter_export_environment.sh
/frontend/ios/Flutter/Generated.xcconfig
/frontend/ios/Runner/GeneratedPluginRegistrant.h
/frontend/ios/Runner/GeneratedPluginRegistrant.m

/frontend/linux/flutter/ephemeral

/frontend/macos/Flutter/ephemeral

/frontend/windows/flutter/ephemeral

/frontend/web
