.idea

.venv

/backend/**/__pycache__

/frontend/lib/project_settings.dart

/frontend/.dart_tool
/frontend/.flutter-plugins-dependencies

/frontend/build

/frontend/test

/frontend/.idea

/frontend/pubspec.lock

/frontend/android/local.properties
/frontend/android/app/src/main/java

/frontend/ios/Flutter/ephemeral
/frontend/ios/Flutter/flutter_export_environment.sh
/frontend/ios/Flutter/Generated.xcconfig
/frontend/ios/Runner/GeneratedPluginRegistrant.h
/frontend/ios/Runner/GeneratedPluginRegistrant.m

/frontend/linux/flutter/ephemeral
/frontend/linux/flutter/*.cc
/frontend/linux/flutter/*.h
/frontend/linux/flutter/*.cmake

/frontend/macos/Flutter/ephemeral
/frontend/macos/Flutter/*.swift

/frontend/windows/flutter/ephemeral
/frontend/windows/flutter/*.cc
/frontend/windows/flutter/*.h
/frontend/windows/flutter/*.cmake

/frontend/web

/backend/project_settings.yaml
